<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SKI_ProjectEntities" connectionString="metadata=res://*/SKI_ProjectDB.csdl|res://*/SKI_ProjectDB.ssdl|res://*/SKI_ProjectDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKI_ProjectEntities1" connectionString="metadata=res://*/SKI_Project.csdl|res://*/SKI_Project.ssdl|res://*/SKI_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKI_ProjectEntities2" connectionString="metadata=res://*/SKI_Project.csdl|res://*/SKI_Project.ssdl|res://*/SKI_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKI_ProjectEntities3" connectionString="metadata=res://*/SKI_Project.csdl|res://*/SKI_Project.ssdl|res://*/SKI_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKI_ProjectEntities4" connectionString="metadata=res://*/SKI_Project.csdl|res://*/SKI_Project.ssdl|res://*/SKI_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SKI_ProjectEntities5" connectionString="metadata=res://*/SKI_Project.csdl|res://*/SKI_Project.ssdl|res://*/SKI_Project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ON7BGNA\SQLEXPRESS;initial catalog=SKI_Project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>